*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: grid;
    gap: 10px;
    /* row-gap: 20px; */
    /* column-gap: 5px; */

    /* DEFINE COLUMN WIDTH */

    /* grid-template-columns: 100px 200px 300px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 2fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(4, 100px); */
    /* grid-template-columns: repeat(auto-fill, 100px); */
    /* grid-template-columns: auto auto; */
    /* grid-template-columns: 200px auto; */

    /* GRID TEMPLATE ROW */

    /* grid-template-rows: 200px 80px; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-auto-rows: 150px; */

    /* JUSTIFY CONTENT */

    /* grid-template-columns: 200px 200px; */
    /* justify-content: center; */

    /* ALIGN CONTENT */

    /* display: grid; */
    /* gap: 10px; */
    /* row-gap: 20px; */
    /* column-gap: 5px; */
    /* grid-template-columns: 200px 200px; */
    /* align-content: center; */
    /* align-content: start; */

    /* ALIGN ITEM */

    /* display: grid; */
    /* gap: 10px; */
    /* row-gap: 5px; */
    /* column-gap: 5px; */
    /* grid-template-columns: 200px 200px 200px; Used for grid column in child */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
}

/* GRID COLUMN CHILD

justify self
align self
grid column
grid row
grid area

*/
.box{
border: 2px solid green;
padding: 12px;
}

#box-1{
    /* background-color: bisque; */
    /* justify-self: center; */
    /* align-self: self-end; */

    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1/span 3; */
    /* grid-column: 1/-2; */
    /* grid-row: 1/3; */
    
    /* GRID-AREA: ROW/COLUMN/ROWEND/COLUMNEND; */
    /* grid-area: 1/1/3/3; */
}

#box-5{
    background-color: bisque;
    /* justify-self: center; */
    /* align-self: self-end; */

    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1/span 3; */
    /* grid-column: 1/-2; */
    /* grid-row: 1/3; */
    
    /* GRID-AREA: ROW/COLUMN/ROWEND/COLUMNEND; */
    grid-area: 2/2/4/4;
}